<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
    <add key="FontName" value="宋体" />
    <add key="FontSize" value="12" />
    <add key="Bold" value="false" />
    <add key="Italic" value="false" />
    <add key="Underline" value="false" />
    <add key="ForeColor" value="000000" />
    <add key="BackColor" value="ffffff" />
    <add key="ParagraphHeight" value="25" />
    <add key="Alignment" value="left" />
    <add key="ShowScrollBar" value="false" />
    <add key="ShowCopyCodeResponse" value="true" />
    <add key="acceptTab" value="true" />
    <add key="codeInOneLine" value="true" />
  </appSettings>
</configuration>